[
 {
   apns,
   [ 
     {apple_host,       "api.development.push.apple.com"},
     {apple_port,       443},
     %{apple_port,       2195},
     %{apple_host,       "gateway.sandbox.push.apple.com"},
     {certdata,         "DUMMY"},
     {keydata,          "DUMMY"},
     %{certfile,         "priv1/qc_dev_pvt.pem"},
     %{keyfile,          "priv1/qc_dev_pvt.pem"},
     %{certfile,         "priv/cert.pem"},
     %{keyfile,          "priv/apns.cer"},
     %{token_keyfile,    "priv/APNsAuthKey_KEYID12345.p8"},
     {certfile,         "priv8/cert.pem"},
     {keyfile,          "priv8/key.pem"},
     {token_keyfile,    "priv8/AuthKey_Z54RYL69P4.p8"},
     {timeout,          10000},

   %% APNs Headers

    {apns_id,          undefined},
    {apns_expiration,  0},
    {apns_priority,    10},
    {apns_topic,       "com.smarthome.apns"},
    {apns_collapse_id, undefined},

   %% Feedback
    {feedback_host,    "feedback.push.apple.com"},
    {feedback_port,    2195}
   ]
 },
 {sasl, [{sasl_error_logger, false}]}
].
