{release, {cowboy_apns, "1"}, [cowboy_apns]}.
{extended_start_script, true}.
{overlay, [
        {mkdir, "log"},
        {copy, "./sys.config",
                %"releases/\{\{release_name\}\}-\{\{release_version\}\}/sys.config"},
                "releases/\{\{release_version\}\}/sys.config"},
        {copy, "./vm.args",
                "releases/\{\{release_version\}\}/vm.args"},
        {copy, "./priv8",
                "./priv8"}
                %"releases/\{\{release_version\}\}/priv8"}
                %"releases/\{\{release_name\}\}-\{\{release_version\}\}/vm.args"}
]}.
