%% Thanks to Ulf Wiger at Ericcson for these comments:
%%
%% This file is identified via the erl command line option -config File.
%% Note that File should have no extension, e.g.
%% erl -config .../sys (if this file is called sys.config)
%%
%% In this file, you can redefine application environment variables.
%% This way, you don't have to modify the .app files of e.g. OTP applications.
[
 {
   apns,
   [
     {apple_host,       "api.development.push.apple.com"},
     {apple_port,       443},
     %{apple_port,       2195},
     %{apple_host,       "gateway.sandbox.push.apple.com"},
     {certdata,         "DUMMY"},
     {keydata,          "DUMMY"},
     %{certfile,         "priv1/qc_dev_pvt.pem"},
     %{keyfile,          "priv1/qc_dev_pvt.pem"},
     %{certfile,         "priv/cert.pem"},
     %{keyfile,          "priv/apns.cer"},
     %{token_keyfile,    "priv/APNsAuthKey_KEYID12345.p8"},
     {certfile,         "priv8/cert.pem"},
     {keyfile,          "priv8/key.pem"},
     {token_keyfile,    "priv8/AuthKey_Z54RYL69P4.p8"},
     {timeout,          10000},

   %% APNs Headers

    {apns_id,          undefined},
    {apns_expiration,  0},
    {apns_priority,    10},
    {apns_topic,       "com.smarthome.apns"},
    {apns_collapse_id, undefined},

   %% Feedback
    {feedback_host,    "feedback.push.apple.com"},
    {feedback_port,    2195}
   ]
 },
 {lager,
    [
      {colored, true},
      {colors,
        [
          {debug,     "\e[0;38m" },
          {info,      "\e[0;37m" },
          {notice,    "\e[0;36m" },
          {warning,   "\e[0;33m" },
          {error,     "\e[0;31m" },
          {critical,  "\e[0;35m" },
          {alert,     "\e[0;44m" },
          {emergency, "\e[0;41m" }
        ]
      },
      {handlers,
        [
          {lager_console_backend,
           [
              "debug",
              {lager_default_formatter,
                  [color, date, " ", time, " [",severity,"] [", module, "]:", function, "() ", pid, " ", message, "\n"]
              }
           ]
          }
        ]
    }
   ]
  }
].
